name: Pack & Push a Dotnet Nuget 

on:
  workflow_call:
    inputs:
      projects:
        default: "[]"
        required: true
        type: string
      version:
        required: true
        type: string
      aws_ci_region:
        type: string
        default: "us-east-1"

permissions:
  contents: read
  
jobs:
  pack-push:
    name: Push and Pack a Nuget
    runs-on: ubuntu-latest    
    environment: ${{ inputs.environment }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        path: ${{ fromJson(inputs.projects) }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Configure AWS Credentials "DEV"
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_DEV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_DEV }}
          aws-region: ${{ inputs.aws_ci_region }}
      - name: Login to AWS CodeArtifact
        run: aws codeartifact login --tool dotnet  --repository test-1-ui --domain brightsource-codeartifact-ui --domain-owner 479886561928 --region us-east-1
      - name: Restore dependencies
        run: |
          dotnet restore ${{ matrix.path }}
      - name: Pack
        run: |
          cd ${{ matrix.path  }}
          dotnet pack -c Release -o out -p:PackageVersion=${{ inputs.version }}
      - name: Push
        run: dotnet nuget push ${{ matrix.path  }}/out/*.nupkg -s brightsource-codeartifact-ui/test-1-ui